/*
body {
    text-align: center;
}
*/

.user-test{
  border: 1px solid black;
  
}

.html-atop-canvas{
    position: relative;
    width: 25%;
}


.health-bar{
  background-color: red;
  position: absolute;
  z-index: 502; 
}

.player-name{
  position:absolute;
  color: #D0F8FF;
  /*
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
             */
 
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
  z-index : 503;
}

/*
*
*    CLASS NAMES AS IDs
*    Class names used as IDs to address
*    elements in JS.
*
*/



.canvas-div, .controlsDiv, .canvasContainer,
.canvasStoneField, .screenHoriz, .screenVert,
 .userTest2, .health-bar-span
{}


/*
*   PERMANENT MENU AND CONTROLS IDs
*/
.gameMenuDiv,
.btnUp,
.btnLeft,
.btnDn,
.btnRight,
.btnPause,
.btnSpacer,
.info-panel,
.btnMenu
{}

/*
*   GAME MENU MODAL IDs
*/

.gameMenuModal1,
.gameMenuModal1Label,
.game-menu-modal-body,
.game-menu-home,
.game-menu-player-sprite,
.game-menu-player-sprite-btn,
.game-menu-btn-continue,
.game-menu-btn-rules,
.game-menu-btn-options,
.game-menu-options,
.game-menu-btn-restart,
.game-menu-btn-prev
{}

/*
*   PLAYER SPRITE MODAL IDs
*/

.user-modal-player-sprite,
.user-modal-player-sprite-button1,
.user-modal-player-sprite-label,
.btnPlayerSprite
{}


