/*
body {
    text-align: center;
}
*/

.user-test{
  border: 1px solid black;
  
}

.html-atop-canvas{
    position: relative;
    width: 25%;
}


.health-bar{
  background-color: red;
  position: absolute;
  z-index: 502; 
}

.player-name{
  position:absolute;
  color: #D0F8FF;
  /*
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
             */
 
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
  z-index : 503;
}

.player-html{
  position: absolute;
  z-index: 504;
  
}

/*
*
*    CLASS NAMES AS IDs
*    Class names used as IDs to address
*    elements in JS.
*
*/



.canvas-div, .controlsDiv, .canvasContainer,
.canvasStoneField, .screenHoriz, .screenVert,
 .userTest2, .health-bar-span
{}


/*
*   PERMANENT MENU AND CONTROLS IDs
*/
.gameMenuDiv,
.btnUp,
.btnLeft,
.btnDn,
.btnRight,
.btnPause,
.btnSpacer,
.info-panel,
.btnMenu
{}

/*
*   GAME MENU MODAL IDs
*/

.gameMenuModal1,
.gameMenuModal1Label,
.game-menu-modal-body,
.game-menu-home,
.game-menu-player-sprite,
.game-menu-btn-player-sprite,
.game-menu-btn-continue,
.game-menu-btn-rules,
.game-menu-btn-options,
.game-menu-options,
.game-menu-btn-restart,
.game-menu-btn-prev
{}

/*
*   PLAYER SPRITE MODAL IDs
*/

.user-modal-player-sprite,
.user-modal-player-sprite-button1,
.user-modal-player-sprite-label,
.btnPlayerSprite,
{}


/*
*   PLAYER SPRITE CAROUSEL
*/
.carousel-player-sprite,
.carousel-player-sprite-btn-ctrl
{}


/*
*   ENEMY MODAL IDS
*/
.enemy-10-html,
.enemy-11-html,
.enemy-12-html,
.enemy-13-html,
.enemy-14-html,
.enemy-15-html,
.enemy-16-html,
.enemy-17-html,
.enemy-18-html,
.enemy-19-html,
.enemy-20-html,
.enemy-21-html,
.enemy-22-html,
.enemy-23-html,
.enemy-24-html,
.enemy-25-html,
.enemy-26-html,
.enemy-27-html,
.enemy-28-html,
.enemy-29-html,
.enemy-30-html,
.enemy-31-html,
.enemy-32-html,
.enemy-33-html,
.enemy-34-html,
.enemy-35-html,
.enemy-36-html,
.enemy-10-html-tooltip,
.enemy-11-html-tooltip,
.enemy-12-html-tooltip,
.enemy-13-html-tooltip,
.enemy-14-html-tooltip,
.enemy-15-html-tooltip,
.enemy-16-html-tooltip,
.enemy-17-html-tooltip,
.enemy-18-html-tooltip,
.enemy-19-html-tooltip,
.enemy-20-html-tooltip,
.enemy-21-html-tooltip,
.enemy-22-html-tooltip,
.enemy-23-html-tooltip,
.enemy-24-html-tooltip,
.enemy-25-html-tooltip,
.enemy-26-html-tooltip,
.enemy-27-html-tooltip,
.enemy-28-html-tooltip,
.enemy-29-html-tooltip,
.enemy-30-html-tooltip,
.enemy-31-html-tooltip,
.enemy-32-html-tooltip,
.enemy-33-html-tooltip,
.enemy-34-html-tooltip,
.enemy-35-html-tooltip,
.enemy-36-html-tooltip

{
  position: absolute;
  z-index: 507;
  visibility: hidden;
}


/*
*   MODAL FOR GAME MENU RULES
*/

/*
*   MODAL YOU WON CONGRATULATIONS
*/
.modal-congrats,
.modal-congrats-btn-next,
.modal-congrats-btn-same,
.modal-congrats-btn-close,
.modal-congrats-label
{

  
}



